{% extends 'base.html' %}
{% block root %}
	<div id="page-wrapper">



				<!-- Main -->
					<article id="main">
						<header>
							<h2>博客分类</h2>
                            <form action="/classification/" method="post">
                                <select name="direction" id="demo-category">
														<option value="">- 学习内容方向 -</option>
														{% for direction in directions %}
                                                        <option value="{{ direction.id }}">{{ direction }}</option>
                                                        {% endfor %}
													</select>
                                <input type="submit" value="确定">
                                {% csrf_token %}
                            </form>

						</header>
						<section class="wrapper style5">
							<div class="inner">
								<section>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>

													<th>标题</th>
													<!--<th>网址</th>-->
                                                    <th>方向</th>
                                                    <th>时间</th>
												</tr>
											</thead>
											<tbody>
                                            {% for blog in blogs %}
                                            <tr>
{#													<td>{{ blog.blog_user }}</td>#}
													<td><a href="{{  blog.url}}" target="_blank">{{  blog.content}}</a></td>
                                                    <td>{{ blog.new_direction }}</td>
													<td>{{ blog.time }}</td>
												</tr>
                                            {% endfor %}


											</tbody>
										</table>
									</div>
								</section>



							</div>
						</section>
					</article>

{% endblock %}