{% extends 'base.html' %}
{% block root %}

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>711实验室博客提交平台</h2>
							<p>请提交本周博客<br />
							<!--site template freebie<br />-->
{#							crafted by <a href="http://123.206.74.236">taropowder</a>.</p>#}
							<ul class="actions">
								<li><a href="/submit" class="button special">博客提交</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">每周博客一览</a>
					</section>

				<!-- One -->
    {% for key,value in week_content.items %}
        <section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
                                <h2><a href="/blog/{{ key }}/"> 第{{key}}周博客一览</a></h2>
								<ul style="list-style-type:none">
                                    {% for v in value %}
                                    <li><a href="{{ v.url }}" target="_blank">{{ v.content }}</a></li>
                                    {% endfor %}
								</ul>

							</header>
							<ul class="icons major">

                                <li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>

{#                                    <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>#}
{#								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>#}
							</ul>
						</div>
                <hr />
					</section>

    {% endfor %}

<div style='text-align: center;'>
	<table>
	{# 上一页 #}
	<td>
	{% if head %}
		<a href="?page={{pre}}"><span>上一页</span></a>
	{% else %}
		<a><p color="red">到头了</p></a>
	{% endif %}
    </td>

	{# 打印所有页码 #}
	{% for page in page_list %}
		<td>
		{% if page == page_num %}
				<a href="?page={{page}}" class="color:red;">
					<span>
						{{page}}
					</span>
				</a>
		{% else %}
				<a href="?page={{page}}">
					<span>
						{{page}}
					</span>
				</a>
		{% endif %}
		</td>
	{% endfor %}
	
	{# 下页 #}
	<td>
	{% if rear %}
		<a href="?page={{nex}}"><span>下一页</span></a>
	{% else %}
		<a><p color="red">到尾了</p></a>
	{% endif %}
	</td>
    </table>
</div>


                    <!--<div class="chs">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>-->

				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="https://static2.ichunqiu.com/icq/resources/images/racing/banner.jpg" alt="" /></div><div class="content">
								<h2><a href="https://www.ichunqiu.com/competition" target="_blank">i 春秋 ctf时间表</a> <br /></h2>
								<!--<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>-->
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="/static/images/hck.jpg" alt="" /></div><div class="content">
								<h2><a href="http://www.shiyanbar.com/ctf/time" >实验吧CTF TIME</a> <br /></h2>
								<!--<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>-->
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="/static/images/ctftime.png" alt="" /></div><div class="content">
								<h2><a href="https://ctftime.org/" target="_blank">CTF TIME</a> <br /></h2>
							</div>
						</section>
					</section>

				<!-- Three -->
					<!--<section id="three" class="wrapper style3 special">-->
						<!--<div class="inner">-->
							<!--<header class="major">-->
								<!--<h2>Accumsan mus tortor nunc aliquet</h2>-->
								<!--<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />-->
								<!--fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>-->
							<!--</header>-->
							<!--<ul class="features">-->
								<!--<li class="icon fa-paper-plane-o">-->
									<!--<h3>Arcu accumsan</h3>-->
									<!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>-->
								<!--</li>-->
								<!--<li class="icon fa-laptop">-->
									<!--<h3>Ac Augue Eget</h3>-->
									<!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>-->
								<!--</li>-->
								<!--<li class="icon fa-code">-->
									<!--<h3>Mus Scelerisque</h3>-->
									<!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>-->
								<!--</li>-->
								<!--<li class="icon fa-headphones">-->
									<!--<h3>Mauris Imperdiet</h3>-->
									<!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>-->
								<!--</li>-->
								<!--<li class="icon fa-heart-o">-->
									<!--<h3>Aenean Primis</h3>-->
									<!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>-->
								<!--</li>-->
								<!--<li class="icon fa-flag-o">-->
									<!--<h3>Tortor Ut</h3>-->
									<!--<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</section>-->

				<!-- CTA -->
{#					<section id="cta" class="wrapper style4">#}
{#						<div class="inner">#}
{#							<header>#}
{#								<h2>Arcue ut vel commodo</h2>#}
{#								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>#}
{#							</header>#}
{#							<ul class="actions vertical">#}
{#								<li><a href="#" class="button fit special">Activate</a></li>#}
{#								<li><a href="#" class="button fit">Learn More</a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</section>#}

				<!-- Footer -->
{% endblock %}