{% extends 'base.html' %}
{% block root %}
	<div id="page-wrapper">



				<!-- Main -->
					<article id="main">
						<header>
							<h2>{{ blogs.0.blog_user.username }}博客</h2>

						</header>
						<section class="wrapper style5">
							<div class="inner">
								<section>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>

													<th>标题</th>
                                                    <th>方向</th>
                                                    <th>时间</th>
												</tr>
											</thead>
											<tbody>
                                            {% for blog in blogs %}
                                            <tr>
													<td><a href="{{  blog.url}}" target="_blank">{{  blog.content}}</a></td>
                                                    <td>{{ blog.new_direction }}</td>
													<td>{{ blog.time | date:'Y-n-d H:i'}}</td>
												</tr>
                                            {% endfor %}


											</tbody>
										</table>
									</div>
								</section>



							</div>
						</section>
					</article>

{% endblock %}