{% extends 'base.html' %}
{% block root %}
	<div id="page-wrapper">



				<!-- Main -->
					<article id="main">
						<header>
							<h2>博客搜索</h2>
                            <form action="/search/" method="get">
                                <input type="text" name="name" value="{{ name }}"><br/>
                                <input type="submit" value="搜索">
                                {% csrf_token %}
                            </form>

						</header>
						<section class="wrapper style5">
							<div class="inner">
								<section>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>

													<th>标题</th>
													<!--<th>网址</th>-->
                                                    <th>方向</th>
                                                    <th>时间</th>
												</tr>
											</thead>
											<tbody>
                                            {% for blog in blogs %}
                                            <tr>
{#													<td>{{ blog.blog_user }}</td>#}
													<td><a href="{{  blog.url}}" target="_blank">{{  blog.content}}</a></td>
													<!--<td>{{  blog.url}}</td>-->
                                                    <td>{{ blog.direction }}</td>
													<td>{{ blog.time }}</td>
												</tr>
                                            {% endfor %}


											</tbody>
										</table>
									</div>
								</section>



							</div>
						</section>
					</article>

{% endblock %}