<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>register</h1>
<form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
<p><label for="id_username">Username:</label> <input id="id_username" name="username" type="text" value="123" /></p>
<ul class="errorlist"></ul>
<p><label for="id_headImg">Headimg:</label> <input id="id_headImg" name="headImg" type="file" /></p>
<input type="submit" value="ok"/>
</form>
</body>
</html>